._header {
  position: relative;
}

._header ._headerContent {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  line-height: 2;
}

._header ._headerContent ._headerLogo {
  flex: 0 0 50%;
  max-width: 50%;
  line-height: 1;
}

._header ._headerContent ._headerLogo h1 {
  text-transform: initial;
  font-size: 36px;
  font-family: serif;
  font-weight: 900;
}

._header ._headerContent ._headerContactArea {
  flex: 0 0 50%;
  max-width: 50%;
  line-height: 1;
}

._header ._headerContent ._headerContactArea ._headerContactAreaDetailed {
  display: flex;
  justify-content: flex-end;
}

._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedTelephone {
  display: flex;
  margin-right: 20px;
  text-decoration: none;
}

._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedTelephone ._headerContactAreaDetailedTelephoneSpan {
  color: #686868;
  margin-right: 10px;
}

._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedTelephone ._headerContactAreaDetailedTelephoneText {
  color: #686868;
}

._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedEmail {
  display: flex;
  text-decoration: none;
}

._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedEmail ._headerContactAreaDetailedEmailvSpan {
  color: #686868;
  margin-right: 10px;
}

._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedEmail ._headerContactAreaDetailedEmailText {
  color: #686868;
}

._header ._headerContent ._headerContactArea ._headerContactAreaLogin {
  display: flex;
  justify-content: flex-end;
}

._header ._headerContent ._headerContactArea ._headerContactAreaLogin ._headerContactAreaLoginUl {
  display: flex;
}

._header ._headerContent ._headerContactArea ._headerContactAreaLogin ._headerContactAreaLoginUl ._headerContactAreaLoginLi {
  margin: 10px;
  padding-right: 10px;
  border-right: 1px solid #686868;
}

._header ._headerContent ._headerContactArea ._headerContactAreaLogin ._headerContactAreaLoginUl ._headerContactAreaLoginLi:nth-child(4) {
  border: none;
  margin: 10px 0 10px 10px;
  padding-right: 0;
}

._header ._headerContent ._headerContactArea ._headerContactAreaLogin ._headerContactAreaLoginUl ._headerContactAreaLoginLi a {
  color: #686868;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  ._header ._headerContent ._headerLogo {
    flex: 0 0 90%;
    max-width: 90%;
    text-align: center;
  }
  ._header ._headerContent ._headerContactArea {
    flex: 0 0 90%;
    max-width: 90%;
  }
  ._header ._headerContent ._headerContactArea ._headerContactAreaDetailed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ._header ._headerContent ._headerContactArea ._headerContactAreaLogin {
    justify-content: center;
  }
  ._header ._headerContent ._headerContactArea ._headerContactAreaLogin ._headerContactAreaLoginUl {
    flex-wrap: wrap;
    justify-content: center;
  }
}
