@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
 * * v2.0 | 20110126
 * * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

._headerTop {
  position: relative;
}
._headerTop ._headerTopContent {
  height: 3px;
  overflow: hidden;
  position: relative;
  background-color: #532fb8;
  border-bottom: 8px solid #231449;
}
._headerTop ._headerTopContent ._headerTopContentArea {
  overflow: hidden;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 30px 20px;
  margin-left: auto;
  margin-right: auto;
}
._headerTop ._headerTopContent ._headerTopContentArea ._headerTopSearch {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: left;
}
._headerTop ._headerTopContent ._headerTopContentArea ._headerTopSearch form {
  position: relative;
  display: inline-block;
}
._headerTop ._headerTopContent ._headerTopContentArea ._headerTopSearch form input {
  padding: 10px 0;
}
._headerTop ._headerTopContent ._headerTopContentArea ._headerTopSearch form ._headerTopSearchButtom {
  position: absolute;
  top: 0;
  right: -3px;
  padding: 10px 0;
}
._headerTop ._headerTopContent ._headerTopContentArea ._headerTopSearch form ._headerTopSearchButtom ._headerTopSearchButtomIcon {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #231649;
}
._headerTop ._headerTopContent ._headerTopContentArea ._headerTopInIcon {
  flex: 0 0 50%;
  max-width: 50%;
}
._headerTop ._headerTopContent ._headerTopContentArea ._headerTopInIcon ._headerTopInIconUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
._headerTop ._headerTopContent ._headerTopContentArea ._headerTopInIcon ._headerTopInIconUl ._headerTopIn_headerTopInIconLI {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 10px;
  background-color: #fff;
  transition: 1s ease-in-out;
}
._headerTop ._headerTopContent ._headerTopContentArea ._headerTopInIcon ._headerTopInIconUl ._headerTopIn_headerTopInIconLI:hover {
  background-color: #231649;
}
._headerTop ._headerTopContent ._headerTopContentArea ._headerTopInIcon ._headerTopInIconUl ._headerTopIn_headerTopInIconLI:hover a {
  color: #fff;
}
._headerTop ._headerTopButton {
  width: 50px;
  height: 24px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #231449;
  border-radius: 0 0 100px 100px;
}
._headerTop ._headerTopButton::before {
  content: " ";
  width: 14px;
  height: 14px;
  position: absolute;
  left: 32%;
  top: 6px;
  z-index: 3;
  display: inline-block;
  border: 2px solid #fff;
  border-color: #fff #fff transparent transparent;
  transform: rotate(-45deg);
}

@media screen and (max-width: 480px) {
  ._headerTop ._headerTopContent ._headerTopContentArea ._headerTopSearch {
    flex: 0 0 90%;
    max-width: 90%;
    margin: 8px;
    justify-content: center;
  }
  ._headerTop ._headerTopContent ._headerTopContentArea ._headerTopSearch form > input {
    width: 100%;
  }
  ._headerTop ._headerTopContent ._headerTopContentArea ._headerTopInIcon {
    flex: 0 0 90%;
    max-width: 90%;
    margin: 8px;
  }
  ._headerTop ._headerTopContent ._headerTopContentArea ._headerTopInIcon ._headerTopInIconUl {
    justify-content: center;
  }
  ._headerTop ._headerTopButton {
    top: 0;
  }
}
._header {
  position: relative;
}
._header ._headerContent {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  line-height: 2;
}
._header ._headerContent ._headerLogo {
  flex: 0 0 50%;
  max-width: 50%;
  line-height: 1;
}
._header ._headerContent ._headerLogo h1 {
  text-transform: initial;
  font-size: 36px;
  font-family: serif;
  font-weight: 900;
}
._header ._headerContent ._headerContactArea {
  flex: 0 0 50%;
  max-width: 50%;
  line-height: 1;
}
._header ._headerContent ._headerContactArea ._headerContactAreaDetailed {
  display: flex;
  justify-content: flex-end;
}
._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedTelephone {
  display: flex;
  margin-right: 20px;
  text-decoration: none;
}
._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedTelephone ._headerContactAreaDetailedTelephoneSpan {
  color: #686868;
  margin-right: 10px;
}
._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedTelephone ._headerContactAreaDetailedTelephoneText {
  color: #686868;
}
._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedEmail {
  display: flex;
  text-decoration: none;
}
._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedEmail ._headerContactAreaDetailedEmailvSpan {
  color: #686868;
  margin-right: 10px;
}
._header ._headerContent ._headerContactArea ._headerContactAreaDetailed ._headerContactAreaDetailedEmail ._headerContactAreaDetailedEmailText {
  color: #686868;
}
._header ._headerContent ._headerContactArea ._headerContactAreaLogin {
  display: flex;
  justify-content: flex-end;
}
._header ._headerContent ._headerContactArea ._headerContactAreaLogin ._headerContactAreaLoginUl {
  display: flex;
}
._header ._headerContent ._headerContactArea ._headerContactAreaLogin ._headerContactAreaLoginUl ._headerContactAreaLoginLi {
  margin: 10px;
  padding-right: 10px;
  border-right: 1px solid #686868;
}
._header ._headerContent ._headerContactArea ._headerContactAreaLogin ._headerContactAreaLoginUl ._headerContactAreaLoginLi:nth-child(4) {
  border: none;
  margin: 10px 0 10px 10px;
  padding-right: 0;
}
._header ._headerContent ._headerContactArea ._headerContactAreaLogin ._headerContactAreaLoginUl ._headerContactAreaLoginLi a {
  color: #686868;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  ._header ._headerContent ._headerLogo {
    flex: 0 0 90%;
    max-width: 90%;
    text-align: center;
  }
  ._header ._headerContent ._headerContactArea {
    flex: 0 0 90%;
    max-width: 90%;
  }
  ._header ._headerContent ._headerContactArea ._headerContactAreaDetailed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ._header ._headerContent ._headerContactArea ._headerContactAreaLogin {
    justify-content: center;
  }
  ._header ._headerContent ._headerContactArea ._headerContactAreaLogin ._headerContactAreaLoginUl {
    flex-wrap: wrap;
    justify-content: center;
  }
}
._menu {
  position: relative;
  background-color: #e0e0e0;
  border-top: 4px solid #c7c7c7;
}
._menu ._menuContent {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
._menu ._menuContent ._menuContentUl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
._menu ._menuContent ._menuContentUl ._menuContentLi {
  padding: 30px;
  transition: 0.5s ease-in-out;
  position: relative;
}
._menu ._menuContent ._menuContentUl ._menuContentLi:nth-child(1) ._menuContentLiA {
  padding-left: 0;
}
._menu ._menuContent ._menuContentUl ._menuContentLi:hover {
  background-color: #532fb8;
}
._menu ._menuContent ._menuContentUl ._menuContentLi:hover ._menuContentLiA {
  color: #fff;
}
._menu ._menuContent ._menuContentUl ._menuContentLi:hover ._menuContentLiA:before {
  border: 6px solid #fff;
  border-color: #fff transparent transparent transparent;
}
._menu ._menuContent ._menuContentUl ._menuContentLi:nth-child(1) ._menuContentLiA::before {
  border: none;
  border-color: transparent transparent transparent transparent;
}
._menu ._menuContent ._menuContentUl ._menuContentLi ._menuContentLiA {
  color: #686868;
  text-decoration: none;
  position: relative;
  padding-left: 20px;
}
._menu ._menuContent ._menuContentUl ._menuContentLi ._menuContentLiA::before {
  content: "";
  border: 6px solid #686868;
  width: 0;
  height: 0;
  border-color: #686868 transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 10px;
}
._menu ._menuContent ._menuContentUl ._menuContentLi .innerPage {
  width: 240px;
  position: absolute;
  top: 76px;
  left: 0;
  background-color: #000000a3;
  display: none;
  z-index: 9999999999;
}
._menu ._menuContent ._menuContentUl ._menuContentLi .innerPage .innerPageLi {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid #000000;
}
._menu ._menuContent ._menuContentUl ._menuContentLi .innerPage .innerPageLi a {
  color: #fff;
  text-decoration: none;
  padding-left: 20px;
}
._menu ._menuContent ._menuContentUl ._menuContentLi .innerPage .innerPageLiNexLevel {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid #000000;
  position: relative;
}
._menu ._menuContent ._menuContentUl ._menuContentLi .innerPage .innerPageLiNexLevel .innerPageLiNexLevelA {
  color: #fff;
  text-decoration: none;
  padding-left: 20px;
}
._menu ._menuContent ._menuContentUl ._menuContentLi .innerPage .innerPageLiNexLevel .innerPageLiNexLevelA:before {
  content: "";
  border: 6px solid #fff;
  width: 0;
  height: 0;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  left: 11px;
  top: 15px;
}
._menu ._menuContent ._menuContentUl ._menuContentLi .innerPage .innerPageLiNexLevel .innerPageLiNexLevelUl {
  position: absolute;
  width: 200px;
  left: 241px;
  top: 0;
  display: none;
  background-color: #000000a3;
}
._menu ._menuContent ._menuContentUl ._menuContentLi .innerPage .innerPageLiNexLevel .innerPageLiNexLevelUl .innerPageLiNexLevelLi {
  padding: 10px;
}
._menu ._menuContent ._menuContentUl ._menuContentLi .innerPage .innerPageLiNexLevel .innerPageLiNexLevelUl .innerPageLiNexLevelLi a {
  color: #fff;
}
._menu ._menuContent ._menuContentUl ._menuContentLi .innerPage .innerPageLiNexLevel .innerPageLiNexLevelUl .innerPageLiNexLevelLi a .innerPageUl {
  width: 240px;
  position: absolute;
  background-color: #000000a3;
  display: none;
}
._menu ._menuContent .screen480 {
  display: none;
}

._menuActive {
  display: block;
}

.nexLevelContentActive {
  display: block;
}

@media screen and (max-width: 850px) {
  ._menu ._menuContent ._menuContentUl {
    display: none;
  }
  ._menu ._menuContent ._menuContentUl ._menuContentLi {
    display: none;
  }
  ._menu ._menuContent ._menuContentUl ._menuContentLi:nth-child(2) {
    width: 100%;
    display: flex;
    border: 1px solid #000;
  }
  ._menu ._menuContent ._menuContentUl ._menuContentLi a {
    width: 100%;
    padding-left: 0;
    position: relative;
  }
  ._menu ._menuContent ._menuContentUl ._menuContentLi a:before {
    right: 0;
    top: 5px;
    left: initial;
  }
  ._menu ._menuContent .screen480 {
    display: block;
    z-index: 999;
    position: relative;
  }
  ._menu ._menuContent .screen480 .screen480Button {
    padding: 26px;
    text-align: left;
    display: flex;
    justify-content: center;
  }
  ._menu ._menuContent .screen480 .screen480Button .screen480ButtonContent {
    width: 90%;
    padding: 16px;
    border: 1px solid #686868;
    position: relative;
  }
  ._menu ._menuContent .screen480 .screen480Button .screen480ButtonContent:before {
    content: "";
    border: 6px solid #686868;
    width: 0;
    height: 0;
    border-color: #686868 transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  ._menu ._menuContent .screen480 .screen480Ul {
    display: flex;
    justify-content: center;
  }
  ._menu ._menuContent .screen480 .screen480Ul .screen480ULContent {
    position: absolute;
    width: 80%;
    height: 100%;
    overflow: auto;
    padding: 26px;
    border: 1px solid #000;
    line-height: 2;
    opacity: 0;
    transition: 1s ease-out;
    margin-left: auto;
    margin-right: auto;
    background-color: #e0e0e0;
    box-shadow: 16px 10px 0px 0px #0000005e;
  }
  ._menu ._menuContent .screen480 .screen480Ul .screen480ULContent .screen480LiTitle a {
    font-weight: 500;
    font-size: 20px;
    font-style: oblique;
    color: #686868;
    text-decoration: none;
  }
  ._menu ._menuContent .screen480 .screen480Ul .screen480ULContent .screen480Li {
    list-style: none;
    margin-left: 40px;
  }
  ._menu ._menuContent .screen480 .screen480Ul .screen480ULContent .screen480Li a {
    color: #686868;
    text-decoration: none;
  }
}
._banner {
  position: relative;
}
._banner ._bannerContent {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
._banner ._bannerContent .__bannerContentImg {
  width: 100%;
  height: 500px;
}
._banner ._bannerContent .__bannerContentImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
._banner ._bannerContent ._bannerButton {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
}
._banner ._bannerContent ._bannerButton ._bannerButtonContent {
  display: inline-block;
  position: relative;
}
._banner ._bannerContent ._bannerButton ._bannerButtonContent ._bannerDot {
  width: 16px;
  height: 5px;
  display: inline-block;
  background-color: #ffffff6b;
  border-radius: 20px;
}
._banner ._bannerContent ._bannerButton ._bannerButtonContent ._bannerActive {
  width: 60px;
  background-color: #fff;
  transition: 1s ease;
  transform-origin: 50%;
}

.footer {
  position: relative;
  background-color: #231649;
}
.footer .footerContent {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px;
}
.footer .footerContent .footerUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer .footerContent .footerUl .footerLi {
  width: 22%;
  display: flex;
  justify-content: center;
}
.footer .footerContent .footerUl .footerLi:hover > a > .footerLiIcon {
  color: #fff;
  transition: 1s ease;
  background-color: #8c63ff;
}
.footer .footerContent .footerUl .footerLi a {
  display: block;
  text-decoration: none;
  position: relative;
}
.footer .footerContent .footerUl .footerLi a .footerLiIcon {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #231649;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.footer .footerContent .footerUl .footerLi a .footerLiTitle {
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
.footer .footerContent .footerUl .footerLi a .footerText {
  line-height: 1.6;
  text-align: center;
}
.footer .footerContent .footerUl .footerLi a .footerText p {
  color: #fff;
  font-size: 11px;
}
.footer .footerContent .footerUl .footerLi a form {
  position: relative;
}
.footer .footerContent .footerUl .footerLi a form input:nth-child(2) {
  position: relative;
}
.footer .footerContent .footerButton {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  border-top: 1px solid #ffffff38;
}
.footer .footerContent .footerButton p {
  font-size: 11px;
  color: #fff;
  line-height: 1.6;
}

@media screen and (max-width: 700px) {
  .footer .footerContent .footerUl .footerLi {
    width: 50%;
    margin-bottom: 20px;
  }
  .footer .footerContent .footerUl .footerLi:nth-child(4) {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .footer .footerContent .footerUl .footerLi {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer .footerContent .footerUl .footerLi:nth-child(4) {
    margin: 0;
  }
}
.serve {
  position: relative;
  background-color: #532fb8;
  display: flex;
  justify-content: center;
}
.serve .serveContent {
  max-width: 1140px;
}
.serve .serveContent .serveArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.serve .serveContent .serveArea .serveAreaLi {
  width: 13%;
  line-height: 1.4;
  padding: 40px 36px;
  font-size: 13px;
  font-size: 14px;
  border: 1.6px solid #643bd4;
}
.serve .serveContent .serveArea .serveAreaLi:hover > a > .serveAreaLiontent > .serveAreaIcon > .aku {
  color: #fff;
  transition: 1s ease;
  background-color: #8c63ff;
}
.serve .serveContent .serveArea .serveAreaLi a {
  text-decoration: none;
}
.serve .serveContent .serveArea .serveAreaLi a .serveAreaLiontent {
  margin: 0 auto;
}
.serve .serveContent .serveArea .serveAreaLi a .serveAreaLiontent .serveAreaIcon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.serve .serveContent .serveArea .serveAreaLi a .serveAreaLiontent .serveAreaIcon .aku {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #532fb8;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serve .serveContent .serveArea .serveAreaLi a .serveAreaLiontent .serveAreaTitle {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.serve .serveContent .serveArea .serveAreaLi a .serveAreaLiontent .serveAreaText {
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1140px) {
  .serve .serveContent .serveArea .serveAreaLi {
    width: 30%;
  }
}
@media screen and (max-width: 480px) {
  .serve .serveContent .serveArea .serveAreaLi {
    width: 78%;
  }
}
.news {
  position: relative;
}
.news .newsContent {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 10px;
  margin-left: auto;
  margin-right: auto;
}
.news .newsContent .newsHeadlines {
  width: 66%;
}
.news .newsContent .newsHeadlines .newsHeadlinesTitle {
  font-size: 24px;
  font-family: serif;
  font-style: oblique;
  position: relative;
  border-bottom: 1px solid #686868;
  margin-bottom: 20px;
  padding-bottom: 6px;
}
.news .newsContent .newsHeadlines .newsHeadlinesTitle:before {
  content: "";
  width: 100px;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 3px solid #532fb8;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentImg {
  width: 46%;
  height: 290px;
  padding: 4px;
  border: 1px solid #686868;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentSecondary {
  width: 48%;
  margin: 6px;
  line-height: 2;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentSecondary .newsHeadlinesContentSecondaryTitle {
  font-size: 24px;
  font-family: serif;
  font-style: oblique;
  padding-bottom: 6px;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentSecondary .newsHeadlinesContentSecondaryText {
  font-size: 11px;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentSecondary .newsHeadlinesContentSecondaryUl {
  font-size: 11px;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentSecondary .newsHeadlinesContentSecondaryUl .newsHeadlinesContentSecondaryLi {
  padding-left: 50px;
  position: relative;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentSecondary .newsHeadlinesContentSecondaryUl .newsHeadlinesContentSecondaryLi:before {
  content: "✔";
  position: absolute;
  left: 30px;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentSecondary .newsHeadlinesContentSecondarySpan {
  font-size: 11px;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentSecondary .newsHeadlinesContentSecondaryButton {
  display: inline-block;
  background-color: #532fb8;
  transition: 1s ease;
  margin-top: 10px;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentSecondary .newsHeadlinesContentSecondaryButton:hover {
  background-color: #8c63ff;
}
.news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentSecondary .newsHeadlinesContentSecondaryButton a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
.news .newsContent .newsSecondary {
  width: 28%;
}
.news .newsContent .newsSecondary .newsSecondaryContnet {
  margin: 0 auto;
}
.news .newsContent .newsSecondary .newsSecondaryContnet .newsSecondaryTitle {
  font-size: 24px;
  font-family: serif;
  font-style: oblique;
  position: relative;
  border-bottom: 1px solid #686868;
  margin-bottom: 20px;
  padding-bottom: 6px;
}
.news .newsContent .newsSecondary .newsSecondaryContnet .newsSecondaryTitle:before {
  content: "";
  width: 100px;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 3px solid #532fb8;
}
.news .newsContent .newsSecondary .newsSecondaryContnet .newsSecondarySecondary .newsSecondaryUl {
  line-height: 2.5;
}
.news .newsContent .newsSecondary .newsSecondaryContnet .newsSecondarySecondary .newsSecondaryUl .newsSecondaryLi {
  display: flex;
  font-size: 11px;
  margin-bottom: 24px;
}
.news .newsContent .newsSecondary .newsSecondaryContnet .newsSecondarySecondary .newsSecondaryUl .newsSecondaryLi .newsSecondaryLiDate {
  width: 19%;
  height: 60px;
  padding: 4px;
  text-align: center;
  display: inline-block;
  color: #fff;
  background-color: #532fb8;
  border-radius: 6px;
}
.news .newsContent .newsSecondary .newsSecondaryContnet .newsSecondarySecondary .newsSecondaryUl .newsSecondaryLi .newsSecondaryLiDate .moon {
  width: 100%;
  display: inline-block;
}
.news .newsContent .newsSecondary .newsSecondaryContnet .newsSecondarySecondary .newsSecondaryUl .newsSecondaryLi .newsSecondaryLiDate .day {
  width: 100%;
  height: 28px;
  display: inline-block;
  background-color: #8c63ff;
  border-radius: 6px;
}
.news .newsContent .newsSecondary .newsSecondaryContnet .newsSecondarySecondary .newsSecondaryUl .newsSecondaryLi .newsSecondaryLiContent {
  width: 80%;
  line-height: 1.9;
}
.news .newsContent .newsSecondary .newsSecondaryContnet .newsSecondarySecondary .newsSecondaryUl .newsSecondaryLi .newsSecondaryLiContent .newsSecondaryLiContentTitle {
  margin-left: 20px;
}
.news .newsContent .newsSecondary .newsSecondaryContnet .newsSecondarySecondary .newsSecondaryUl .newsSecondaryLi .newsSecondaryLiContent .newsSecondaryLiContentTitle a {
  font-size: 16px;
  font-family: serif;
  font-style: oblique;
  text-decoration: none;
}
.news .newsContent .newsSecondary .newsSecondaryContnet .newsSecondarySecondary .newsSecondaryUl .newsSecondaryLi .newsSecondaryLiContent .newsSecondaryLiContentText {
  margin-left: 20px;
}

@media screen and (max-width: 1024px) {
  .news .newsContent .newsHeadlines {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .news .newsContent .newsSecondary {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 480px) {
  .news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentImg {
    width: 100%;
  }
  .news .newsContent .newsHeadlines .newsHeadlinesContent .newsHeadlinesContentSecondary {
    width: 100%;
  }
}
.article {
  position: relative;
}
.article .articleContent {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 10px;
}
.article .articleContent .articleMenu {
  width: 30%;
}
.article .articleContent .articleMenu .articleMenuTitle {
  font-size: 24px;
  font-family: serif;
  font-style: oblique;
  position: relative;
  border-bottom: 1px solid #686868;
  margin-bottom: 20px;
  padding-bottom: 6px;
}
.article .articleContent .articleMenu .articleMenuTitle:before {
  content: "";
  width: 100px;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 3px solid #532fb8;
}
.article .articleContent .articleMenu .articleMenuUl {
  position: relative;
}
.article .articleContent .articleMenu .articleMenuUl .articleMenuLi {
  padding: 20px;
  margin-bottom: 16px;
  transition: 1s ease;
}
.article .articleContent .articleMenu .articleMenuUl .articleMenuLi:nth-child(1) {
  background-color: #84B533;
}
.article .articleContent .articleMenu .articleMenuUl .articleMenuLi:nth-child(1):hover {
  background-color: #a5df48;
}
.article .articleContent .articleMenu .articleMenuUl .articleMenuLi:nth-child(2) {
  background-color: #FDA46A;
}
.article .articleContent .articleMenu .articleMenuUl .articleMenuLi:nth-child(2):hover {
  background-color: #ffcdab;
}
.article .articleContent .articleMenu .articleMenuUl .articleMenuLi:nth-child(3) {
  background-color: #FFC600;
}
.article .articleContent .articleMenu .articleMenuUl .articleMenuLi:nth-child(3):hover {
  background-color: #ffdc5c;
}
.article .articleContent .articleMenu .articleMenuUl .articleMenuLi:nth-child(4) {
  background-color: #B9282C;
}
.article .articleContent .articleMenu .articleMenuUl .articleMenuLi:nth-child(4):hover {
  background-color: #ff6b70;
}
.article .articleContent .articleMenu .articleMenuUl .articleMenuLi a {
  color: #fff;
  display: flex;
  text-decoration: none;
}
.article .articleContent .articleMenu .articleMenuUl .articleMenuLi a .articleMenuLiIcon {
  margin-right: 20px;
}
.article .articleContent .articleNews {
  width: 40%;
}
.article .articleContent .articleNews .articleNewsTitle {
  font-size: 24px;
  font-family: serif;
  font-style: oblique;
  position: relative;
  border-bottom: 1px solid #686868;
  margin-bottom: 20px;
  padding-bottom: 6px;
}
.article .articleContent .articleNews .articleNewsTitle:before {
  content: "";
  width: 100px;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 3px solid #532fb8;
}
.article .articleContent .articleNews .articleNewsContent {
  display: flex;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection {
  display: flex;
  flex-wrap: wrap;
  margin: 0 6px 0 6px;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsSectionImg {
  width: 95%;
  height: 150px;
  display: inline-block;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsSectionImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 4px;
  border: 1px solid #686868;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsSectionTitle {
  padding: 20px 0;
  color: #532fb8;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsDate {
  position: relative;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsDate .articleNewsLi {
  display: flex;
  margin-bottom: 20px;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsDate .articleNewsLi .articleNewsYear {
  font-size: 11px;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsDate .articleNewsLi .articleNewsYear::before {
  content: "\f073";
  font-family: "ForkAwesome";
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsDate .articleNewsLi .articleNewsMoon {
  font-size: 11px;
  margin-left: 10px;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsDate .articleNewsLi .articleNewsMoon:before {
  content: "\f040";
  font-family: "ForkAwesome";
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsDate .articleNewsLi .articleNewsMoon a {
  text-decoration: none;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsSectionText {
  font-size: 11px;
  line-height: 1.6;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsSectionButton {
  padding: 10px;
  display: inline-block;
  background-color: #532fb8;
  transition: 1s ease;
  margin-top: 10px;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsSectionButton:hover {
  background-color: #8c63ff;
}
.article .articleContent .articleNews .articleNewsContent .articleNewsSection .articleNewsSection1Content .articleNewsSectionButton a {
  color: #fff;
  text-decoration: none;
}
.article .articleContent .articleFilm {
  width: 25%;
}
.article .articleContent .articleFilm .articleFilmTitle {
  font-size: 24px;
  font-family: serif;
  font-style: oblique;
  position: relative;
  border-bottom: 1px solid #686868;
  margin-bottom: 20px;
  padding-bottom: 6px;
}
.article .articleContent .articleFilm .articleFilmTitle:before {
  content: "";
  width: 100px;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 3px solid #532fb8;
}
.article .articleContent .articleFilm .articleFilmAlbum {
  margin-bottom: 30px;
}
.article .articleContent .articleFilm .articleFilmAlbum video {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
}
.article .articleContent .articleFilm .articleFilmMenu .articleFilmMenuTitle {
  font-size: 24px;
  font-family: serif;
  font-style: oblique;
  position: relative;
  border-bottom: 1px solid #686868;
  margin-bottom: 20px;
  padding-bottom: 6px;
}
.article .articleContent .articleFilm .articleFilmMenu .articleFilmMenuTitle:before {
  content: "";
  width: 100px;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 3px solid #532fb8;
}
.article .articleContent .articleFilm .articleFilmMenu .articleFilmMenuUl {
  position: relative;
  line-height: 2.6;
}
.article .articleContent .articleFilm .articleFilmMenu .articleFilmMenuUl .articleFilmMenuLi {
  position: relative;
  border-bottom: 1px solid #686868;
}
.article .articleContent .articleFilm .articleFilmMenu .articleFilmMenuUl .articleFilmMenuLi:hover > a {
  color: #532fb8;
}
.article .articleContent .articleFilm .articleFilmMenu .articleFilmMenuUl .articleFilmMenuLi:hover > a:before {
  border: 5px solid #532fb8;
  border-color: transparent transparent transparent #532fb8;
}
.article .articleContent .articleFilm .articleFilmMenu .articleFilmMenuUl .articleFilmMenuLi a {
  font-size: 11px;
  color: #686868;
  text-decoration: none;
  margin-left: 16px;
  transition: 1s ease;
}
.article .articleContent .articleFilm .articleFilmMenu .articleFilmMenuUl .articleFilmMenuLi a:before {
  content: "";
  border: 5px solid #686868;
  border-color: transparent transparent transparent #686868;
  position: absolute;
  left: 0;
  top: 13px;
}

@media screen and (max-width: 800px) {
  .article .articleContent .articleMenu {
    width: 90%;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .article .articleContent .articleNews {
    width: 90%;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .article .articleContent .articleFilm {
    width: 90%;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 480px) {
  .article .articleContent .articleNews .articleNewsContent {
    flex-wrap: wrap;
  }
  .article .articleContent .articleNews .articleNewsContent .articleNewsSection {
    width: 90%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
.relatedLinks {
  position: relative;
  background-color: #532fb8;
}
.relatedLinks .relatedLinksContent {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 10px;
  margin-left: auto;
  margin-right: auto;
}
.relatedLinks .relatedLinksContent .relatedLinksTitle {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.relatedLinks .relatedLinksContent .relatedLinksTitle h6 {
  color: #fff;
  font-size: 24px;
  font-family: serif;
  font-style: oblique;
  padding-bottom: 6px;
}
.relatedLinks .relatedLinksContent .relatedLinksUl {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.relatedLinks .relatedLinksContent .relatedLinksUl .relatedLinksLi {
  line-height: 2;
  width: 18%;
  margin: 6px;
}
.relatedLinks .relatedLinksContent .relatedLinksUl .relatedLinksLi a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: inline-block;
  position: relative;
}
.relatedLinks .relatedLinksContent .relatedLinksUl .relatedLinksLi a:before {
  content: "";
  border: 5px solid #fff;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  left: -10px;
  top: 13px;
  opacity: 0;
  transition: 1s ease;
}
.relatedLinks .relatedLinksContent .relatedLinksUl .relatedLinksLi a:hover:before {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .relatedLinks .relatedLinksContent .relatedLinksUl .relatedLinksLi {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .relatedLinks .relatedLinksContent .relatedLinksUl .relatedLinksLi {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
#goToTheTop {
  display: block;
}
#goToTheTop a {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transition: 1s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  animation: topContentMove 1s infinite;
  -webkit-animation: topContentMove 1s infinite;
}
@-webkit-keyframes topContentMove {
  0% {
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}
@keyframes topContentMove {
  0% {
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}
#goToTheTop a span:nth-child(1) {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  left: 29%;
  top: 37%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border-top: 2px solid #532fb8;
  border-left: 2px solid #532fb8;
}
#goToTheTop a span:nth-child(2) {
  width: 1px;
  height: 50%;
  display: inline-block;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 34%;
}
/*# sourceMappingURL=style.css.map */